* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1174px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
/*navbar*/
nav {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 73px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #0000004D;
    opacity: 1;
}
#logo-box .logo {
    top: 15px;
    left: 253px;
    width: 237px;
    height: 43px;
    background:0% 0% no-repeat padding-box;
    opacity: 1;
}
.girisyap{
    top: 26px;
    left: 1139px;
    width: 88px;
    height: 28px;
    text-align: left;
    font: normal normal normal 23px/28px Proxima Nova;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.kayitol{
    top: 26px;
    left: 1261px;
    width: 77px;
    height: 28px;
    text-align: left;
    font: normal normal normal 23px/28px Proxima Nova;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}