.header {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 73px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #0000004D;
    opacity: 1;
}
.col-md-3{
    top: 142px;
    left: 203px;
    width: 417px;
    height: 508px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 1;
}
.h6.comment1{
    top: 352px;
    left: 744px;
    width: 351px;
    height: 23px;
    text-align: left;
    font: normal normal normal 17px/23px Open Sans;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}
.h2.text-left{
    top: 186px;
    left: 716px;
    width: 70px;
    height: 30px;
    text-align: left;
    font: normal normal 600 22px/30px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.h6.clı2{
    top: 427px;
    left: 744px;
    width: 351px;
    height: 23px;
    text-align: left;
    font: normal normal normal 17px/23px Open Sans;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}
.h6.clı3{
    top: 502px;
    left: 744px;
    width: 351px;
    height: 23px;
    text-align: left;
    font: normal normal normal 17px/23px Open Sans;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}
.h6-my-0{
    top: 352px;
    left: 744px;
    width: 351px;
    height: 23px;
    text-align: left;
    font: normal normal normal 17px/23px Open Sans;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}
.col-md-7{
    top: 141px;
    left: 643px;
    width: 1075px;

    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 1;
}
.col-md-9{
    top: 122px;
    left: 644px;
    width: 1075px;
    height: 509px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 1;
}
.button.dropdown{
    top: 284px;
    left: 716px;
    width: 133px;
    height: 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000005;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    opacity: 1;
}
.form-control{
    top: 284px;
    left: 859px;
    width: 176px;
    height: 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000005;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    opacity: 1;
}
.col-md-3-category{
    top: 142px;
    left: 203px;
    width: 417px;
    height: 497px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 1;
}

.col-md-7 d-sm-none d-sm-block ml-3 justify-content-center align-items-center border-1{
    top: 141px;
    left: 643px;
    width: 1075px;
    height: 498px;
    background: #FCFCFC no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 1;
}
.img{
    top: 15px;
    left: 253px;
    width: 237px;
    height: 43px;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
}
.data p{
    top: 382px;
    left: 846px;
    width: 163px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.left menu{
    top: 142px;
    left: 203px;
    width: 417px;
    height: 497px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 1;
}
.p.hood{
    top: 227px;
    left: 716px;
    width: 527px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.h2{
    top: 186px;
    left: 716px;
    width: 70px;
    height: 30px;
    text-align: left;
    font: normal normal 600 22px/30px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.row-col-text-muted-pl-5-ml-5{
    top: 100px;
    left: 230px;
    width: 162px;
    height: 14px;
    text-align: left;
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #979797;
    opacity: 1;
}
.footer{
    padding-top: 6rem;
    padding-bottom: 6rem;
    top: 726px;
    left: 0px;

    height: 449px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
}
.row-12{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 73px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #0000004D;
    opacity: 1;
}
.row .form-group button{
    top: 284px;
    left: 716px;
    width: 133px;
    height: 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000005;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    opacity: 1;
}
.container.p-2{
    top: 141px;
    left: 643px;
    width: 1075px;
    height: 498px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    opacity: 1;
}

.body{
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1174px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.rng2{
    top: 457px;
    left: 760px;
    width: 75px;
    height: 20px;
    text-align: left;
    font: normal normal 600 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #C16B3F;
    opacity: 1;
}
.rng1{
    top: 382px;
    left: 760px;
    width: 75px;
    height: 20px;
    text-align: left;
    font: normal normal 600 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #C16B3F;
    opacity: 1;
}
.username img{
    top: 168px;
    left: 254px;
    width: 23px;
    height: 23px;
    background: #707070 0% 0% no-repeat padding-box;
    opacity: 1;
}
.rng3{
    top: 532px;
    left: 760px;
    width: 75px;
    height: 20px;
    text-align: left;
    font: normal normal 600 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #C16B3F;
    opacity: 1;
}

.h4-my-0{
    top: 806px;
    left: 722px;
    width: 114px;
    height: 28px;
    text-align: left;
    font: normal normal 600 23px/28px Montserrat;
    letter-spacing: 0px;
    color: #6A6A6A;
    opacity: 1;
}
.col-6-qr{
    top: 979px;
    left: 1497px;
    width: 87px;
    height: 87px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000000;
    opacity: 1;
}
.body .footer .row{
    top: 726px;
    left: 0px;
    width: 1920px;
    height: 449px;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
}
.ads span{
    top: 272px;
    left: 291px;
    width: 28px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}
.btn btn-sm{
    top: 18px;
    left: 1487px;
    width: 181px;
    height: 44px;
    background: #0099CC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.kayitol{
    top: 26px;
    left: 1261px;
    width: 77px;
    height: 28px;
    text-align: left;
    font: normal normal normal 23px/28px Proxima Nova;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.girisyap{
    top: 26px;
    left: 1139px;
    width: 88px;
    height: 28px;
    text-align: left;
    font: normal normal normal 23px/28px Proxima Nova;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.logo{
    top: 15px;
    left: 253px;
    width: 237px;
    height: 43px;
    background: transparent url('img/Layer_x0020_1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.profile span{
    top: 227px;
    left: 291px;
    width: 48px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}
.profile svg{
    top: 229px;
    left: 255px;
    width: 19px;
    height: 19px;
    background: transparent url('img/social.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.username span{
    top: 169px;
    left: 287px;
    width: 95px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.address span{
    top: 317px;
    left: 291px;
    width: 61px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}
.sale span{
    top: 363px;
    left: 291px;
    width: 31px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}
.sale svg{
    top: 365px;
    left: 256px;
    width: 19px;
    height: 19px;
    background: transparent url('img/network.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.purchase span{
    top: 406px;
    left: 291px;
    width: 69px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}

.store span{
    top: 452px;
    left: 291px;
    width: 40px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}
.store svg{
    top: 454px;
    left: 256px;
    width: 19px;
    height: 19px;
    background: transparent url('img/network.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.references span{
    top: 497px;
    left: 291px;
    width: 83px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #A1A1A1;
    opacity: 1;
}

.forum span{
    top: 543px;
    left: 291px;
    width: 51px;
    height: 22px;
    text-align: left;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}
.category border{
    top: 202px;
    left: 240px;
    width: 344px;
    height: 0px;
    border: 1px solid #E5E5E5;
    opacity: 1;
}
.p{
    font: Open Sans;
}
.following{
    top: 229px;
    left: 716px;
    width: 154px;
    height: 34px;
    background: #1592E6 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000005;
    border-radius: 4px;
    opacity: 1;
}